def rules(sequence):
    if sequence == "A":  # rule 1
        return "AB"
    elif sequence == "B":  # rule 2
        return "A"
    else:
        return None

in main():

    #print(derivation("B", 7)) # fibostrings